@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

:root {
    font-size: 16px;
    margin: 0;
    padding: 0;


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 100vh;
    background: rgba(0, 0, 0, 0.99);
    transition: all 0.7s ease-in-out;
}

main.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto;
    
    height: 100vh;
    max-width: 100;
    margin: 0 2rem;
    padding: 0;

   


    @media screen and (max-width: 620px) {
        grid-template-columns: 1fr;

    }
}


.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: Norse-Bold;
    font-size: 3.5rem;
    font-weight: 200;
    height: 130px;
    width: 100%;
    background: hsla(208, 100%, 0%, 0.483);
    margin: 0;


    h1 {
        padding-top: 1rem;
        color: hsla(0, 0%, 99%, 0.99);
    }

}

.credit {
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 100%;
    color: aliceblue;
    margin: 0;

    small {
        margin-bottom: 6px;
        font-size: clamp(6px, 1.2vw, 12px);
    }

    a {
        text-decoration: underline;
        color: hsla(208, 100%, 97%, 0.483);
    }

    & a:hover {
        color: rgb(240, 244, 31);
        font-size: 16px;
        transition: all 0.6s ease-in-out;
    }


}

.section-left {

    font-weight: 200;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: end;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
}

.section-right {
    display: grid;
    max-width: 640px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
   

    background: hsla(0, 0%, 100%, 0.895);

 



    .form-container {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr 1fr;

        max-width: 100%;

        margin: 0;
        padding: 0;
        width: 100%;

        label {
            font-size: xx-small;
            margin-bottom: 0.5rem;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 100%;
            background: transparent;
            text-transform: uppercase;

        }

        .poop {
            grid-column: 1 / 3;
            grid-row: 1 / 1;
            font-size: inherit;
            justify-self: self-start;
            font-size: larger;
            font-weight: 400;
            margin: 0;
            padding: 0;
            width: 100%;

        }
    }
}