@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}

.error {
    border-color: hsla(0, 96%, 49%, 0.801);
    color: hsla(0, 20%, 98%, 0.801);
    background: hsla(0, 96%, 49%, 0.101);
}

p {
    font-size: 8px;
}

:root {
    font-size: 10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: inherit;
    padding: inherit;
    width: 100vw;
    max-height: 100vh;
    background: rgba(0, 0, 0, 0.99);

}

.highlight {
    font-weight: 600;
    font-size: 2.3rem;
    font-style: italic;
}

.strong {
    font-weight: 400;
    font-size: 24px;
}

.highlight {
    color: hsl(324, 56%, 2%);
    font-weight: 500;

}

main.container {
    display: grid;
    grid-template-columns: 536px 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-height: 100vh;
    width: 88vw;
    height: 100vh;

    @media screen and (max-width: 1220px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        width: 100%;
        justify-items: center;

        input {
            width: 80%
        }

        .section-right {}

        .section-left {
            height: 40vh;
            
        }

        .text-container {
            margin: 2rem;
            margin: 0 auto;
            width: 45ch;
            align-self: center;
        }

        .logo-container {
            height: 10vh;
            width: 100vw;
        }

        .cta-container {
            padding-bottom: 2rem;
        }

        p {
            margin: 0;

        }

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;
            height: 100%;
        }
    }
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    align-items: center;
    font-family: Norse-Bold;
    font-size: 6rem;
    font-weight: 200;
    height: 146px;
    width: 100%;
    background: hsla(208, 100%, 0%, 0.423);
    margin-top: 190px;


    h1 {
        padding-top: 18px;
        color: hsla(0, 0%, 99%, 0.99);
    }
}

.credit {


    font-size: 0.6rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    color: aliceblue;




    a {
        text-decoration: underline;
        color: hsla(208, 100%, 97%, 0.883);
        font-size: 6px;
        transition: all 0.3s linear;
        letter-spacing: 0.5px;
        font-weight: 200;
    }

    a:hover {
        color: rgb(240, 244, 31);
        font-size: 13px;
        transition: all 0.6s linear;
        letter-spacing: 1.2px;
        font-weight: 700;
    }
}


.section-left {
    max-height: 100vh;
    font-weight: 200;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: space-between;
    align-items: center;
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
}

.section-right {
    max-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background: hsla(0, 0%, 100%, 0.951);

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 48px;
        padding-top: 180px;
    }

    p.topParagraph {
        margin: 0;
        padding: 0;
        font-size: 2.3rem;
        font-weight: 500;
        max-width: 40ch;
        line-height: 1.2;
    }

    p.bottomParagraph {
        padding-top: 32px;
        padding-bottom: 64px;
        font-weight: 500;
        margin: 0;
        font-size: 2.3rem;
    }

    a {
        text-decoration: none;
        color: #0b0b0b;
    }

    


    .completeWidth {
        box-sizing: border-box;
        background: hsl(0, 100%, 100%);
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 2px 4px hsla(0, 0%, 0%, 0.2);

        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .form-container {
        border: none;
        display: grid;
        padding: 0 0;
        margin-top: 0rem;

        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        max-width: 472px;
        height: 264px;
        margin-left: 48px;
        gap: 18px;
        box-sizing: border-box;
        width: 100%;


        label {
            font-size: xx-small;
            margin-bottom: 0.1rem;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 100%;
            background: transparent;
            text-transform: uppercase;
            font-size: xx-small;

        }

        .poop {
            grid-column: 1 / 3;
            grid-row: 1 / 1;
            justify-self: self-start;
            margin-top: 16px;
            padding: 0;
            width: 100%;
            font-weight: 500;

            p {
                font-size: larger;
            }
        }
    }
}

input:not(:not([name="confirm"])) {

    margin-bottom: 14px;
}

input:active {
    box-shadow: 2px 3px 10px -4px hsla(270, 100%, 1%, 0.883);
}

input {
    width: 220px;
    border: 1px solid #E5E7EB;
    border-radius: 2px;

}

input {
    border: 1px transparent;
}

input:invalid {
    border: 1px solid red;
}

input:invalid::after {
    content: 'NO good';
    color: red;
}

input:valid {
    border: 1px solid rgba(0, 255, 85, 0.872);
    background: rgba(0, 255, 85, 0.272);
}

#passwordMatch {
    color: rgb(255, 55, 0);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 12px;
    margin-left: 48px;

    button {
        background: #596D48;
        color: hsla(0, 0%, 100%, 0.99);
        border-radius: 8px;
        padding: 12px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font-weight: 500;
        font-size: xx-small;
        letter-spacing: 0.5px;
        transition: all 0.3s linear;
        margin-bottom: 32px;
        margin-top: 20px;
        button:hover {
            border: none;
        }
    }
}