@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(12, 13, 10);
    min-height: 80vh;
}

.container {
    background-color: rgb(76, 98, 148);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.section-left {
    width: 492px;
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-image: url('./halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;

    .logo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Norse-Bold;
        font-size: 100px;
        width: 100%;
        background: hsla(0, 0%, 0%, 0.45);
        margin-top: 7.4rem;
        padding: 10px 0;

        img {
            width: 84px;
            height: 112px;
        }

        h1 {
            margin: 0;
            padding: 0;
            font-size: 4rem;
            padding-top: 24px;
        }
    }

}

.section-right {
    width: 830px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #faeded;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #0d0d0d;
    font-family: sans-serif;
    margin-top: 4.6rem;
    text-align: left;
    width: 50ch;
    margin-right: 8rem;

    p {
        text-align: start;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        line-height: 1.2rem;
        text-wrap: pretty;
    }

    .highlight {
        font-weight: semibold;
        font-style: italic;
    }

}

.credit {
    text-decoration: none;
    position: absolute;
    bottom: 0;

    width: 35ch;

    a {
        color: #fcfcfc;


    }

    p {
        color: rgb(222, 245, 237);
        font-family: sans-serif;
        font-weight: 200;
        font-size: 0.5vmax;
        text-align: center;
        margin-bottom: 12px;
    }
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns */
    grid-template-areas:
        "left right";
    width: 100%;
    padding-left: 2rem;






    /* filter: drop-shadow(0px 6px 5px blue); */
    border: 2px solid black;
    border-radius: 8px;
    padding: 16px;

    h3 {
        margin: 0;
        padding: 0;
        text-align: left;
    }
}

.form-left {
    grid-area: left;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100%;
}

.form-right {
    grid-area: right;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100%;
}

.form-grid {
    display: grid;

}

.cta-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 6px 5px blue);


}